* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

section {
  scroll-margin: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-position: fixed;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 20px 0;
}
.logo {
  font-size: 32px;
  font-weight: 600;
}

button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}
button:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}
nav ul li:hover {
  border-bottom: 2px solid black;
  transition: 0.2s ease-in;
}
.hero-section { 
 background-image: url(images/b6eb52098c984b4ed331ece445faa64087f3cb66\ \(2\).png); 
 background-position: left;
 background-repeat: no-repeat;
 background-origin: cover;
 background-size: cover;
 justify-content: start;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: start;
}
p{
    text-align: start;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-section h1 {
  font-size: 55px;
  text-align: start;
}
.hero-section h4 {
  font-size: 32px;
  text-align: start;
}
.container{
 
}
.PHILOSOPHY_section{
  background-color: black;
  color: white;
}
